<%= form_with model: @article do |f| %>
  <div class="mw7 center pa3 pa5-ns bg-white br2 article-editor">
      <h1 class="article-editor-title">
        <%= f.label :title, class: "dn" %>
        <%= f.text_field :title,
                         class: "form-input db w-100",
                         placeholder: "Enter a title...",
                         rows: "1" %>
      </h1>
      <%= f.label :text, class: "dn" %>
      <%= f.hidden_field :text, id: "article_text" %>
      <trix-editor input="article_text"></trix-editor>
    </div>
    <div class="mv3 tc">
      <%= f.submit 'Publish this article', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
