<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@article.errors.count, "error") %>
        prohibited this article from being saved:
      </h3>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= f.label :title, class: "dn" %>
    <%= f.text_field :title,
                     class: "form-input db w-100",
                     placeholder: "Enter a title...",
                     rows: "1" %>
  </h1>
  <div class="mt2 mb3">
    <%= f.label :text, class: "dn" %>
    <%= f.hidden_field :text %>
    <trix-editor input="article_text"></trix-editor>
  </div>
  <div class="mb3 tc">
    <%= f.submit 'Publish this article' %>
  </div>

<% end %>
