<header class="mv3 tc">
  <%= link_to '← Back to home', root_url %>
  <h1>Articles</h1>
  <%= button_to 'Post an article', new_article_path, method: :get %>
</header>

<% @articles.each do |article| %>
  <h2 class="mb2"><%= article.title %></h2>
  <div class="gray">
    Published on <%= local_date(article.created_at) %>
  </div>
  <p class="trix-content">
    <%= truncate(article.text, length: 960, separator: '. ', escape: false)%>
  </p>
  <div class="mb4">
    <%= link_to 'Continued…', article_path(article), class: "i" %>
  </div>
<% end %>
