 <header class="mv2 tc">
  <h1>Articles</h1>
</header>

<div class="mv3 tc">
  <%= button_to 'Start a new article', new_article_path, method: :get, class: "btn btn-primary" %>
</div>

<% @articles.each do |article| %>
  <div class="mw7 mb3 center pa4 pa5-ns bg-white br2">
    <h2 class="mt0 mb2 f3 f2-ns"><%= article.title %></h2>
    <div class="gray">
      Published on <%= local_date(article.created_at) %>
    </div>
    <div class="trix-content mv3">
        <%= strip_tags(article.text).truncate(256) if article.text? %>
    </div>
    <%= link_to 'Continued…', article_path(article), class: "i" %>
  </div>
<% end %>
