<%= form_for(@user, remote: true) do |f| %>
  <%= render 'application/error_messages' %>

  <div class="mb3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-input" %>
  </div>
  <div class="mb3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-input" %>
  </div>
  <div class="mb3">
    <%= f.label :password, 'New password?' %>
    <%= f.password_field :password, class: "form-input" %>
    <span class="f6">Leave this blank to keep your current password</span>
  </div>
  <div class="tc">
    <%= f.submit "Save my changes", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
