<% provide(:title, 'Sign up') %>

<header class="tc">
  <h1>Sign up for Day Book</h1>
  <span>
  	With an account you'll be able to post your own Articles which readers can comment on.
  </span>
</header>

<div class="measure center mt4 pa4 bg-white br2">
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'application/error_messages' %>
    <div class="mb3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-input", placeholder: "Louise Banks", required: true %>
    </div>
    <div class="mb3">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-input", placeholder: "louise@example.com", required: true %>
    </div>
    <div class="mb3">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-input", placeholder: "8+ characters", required: true %>
    </div>
    <div class="tc">
      <%= f.submit "Sign up for my account", class: "btn btn-block purple" %>
    </div>
  <% end %>
</div>

<p class="tc">
  Already have an account? <%= link_to 'Sign in here', sign_in_path %>
</p>
